body {
    color: #777;
    font-family: "Poppins",sans-serif;
    font-size: 14px;
    font-weight: 200;
    line-height: 1.625em;
    position: relative;
}
.header-top {
    font-size: 12px; 
    padding: 0; 
    height: 60px;
    line-height: 60px;
    user-select: none;
}
.header-top .header-top-left {
    border-right: 1px solid #ccc;
    display: block;
}
.header-top .header-top-left a {
    margin-right: 30px;
}
.header-top-right {
    padding-left: 235px;
}
.header-top a {
    color: #222;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
    color: #000;
    text-decoration: none;
}
.header-top-left i {
    color: #3face4;
}
.header-top ul {
    display: inline-block;
    border-right: 1px solid #ccc;
    padding: 0 15px;
    margin: 0 auto;
}
.header-top ul li {
    display: inline-block;
    margin-left: 15px;
}
.main-menu {
    width: 100%;
    padding: 26px 0;
}
.main-menu .row {
    width: 100%;
}
.nav-menu a i {
    color: #cccccc;
}
hr {
    margin-top: 0rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

/**/
.navbar {
    width: 100%;
}

.navbar-collapse {
    justify-content: flex-end;
}
.navbar-nav a {
    text-transform: uppercase;
}
.navbar-light .navbar-nav .active>.nav-link {
    color: #3face4;
    font-weight: 700;
}
.bg-light {
    background-color: #fff!important;
}
/**/
.pos-f-t {
    display: none;
}
.navbar-light .navbar-nav .nav-link.disabled {
    color: #000;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
}
@media screen and (max-width: 1300px) {
    .header-top {
        display: none;
    }
    .banner-content h1 {
        margin-left: 30px;
    }
    .navbar-nav {
        margin-left: 15px;
    }
    .nw-btn {
        margin-top: 15px;
    }
    .banner-content a {
        margin-left: 35px;
    }
    .nav-menu-container ul a {
        color: #fff;
        z-index: 1;
    }
    .thumb img {
        width: 100%;
    }
    .date {
        margin-left: 0;
    }
    .text-left h1 {
        font-size: 32px;
        color: #fff;
        margin-top: 100px;
    }
    .single-footer-widget h6 {
        color: #fff;
    }
    .main-title {
        margin-left: 41px;
    }
    .latest-blog-area {
        margin: 50px;
    }
    .nw-btn {
        margin-top: 13px;
    }
    .projects_item img {
        padding: 15px;
    }
    .navbar-brand  {
       padding-right: 300px;
    }
    .navbar {
        position: relative;
        display: flex!important;
        align-items: center;
        justify-content: space-between;
        padding: .5rem 1rem;
    }
  
}
