.recent-completed-project .filters {
    text-align: center;
    margin-bottom: 30px;
    padding-top: 61px;
}
.recent-completed-project .filters li {
    display: inline-block;
    margin-right: 30px;
    cursor: pointer;
    list-style: none;
}
.recent-completed-project .active {
    color: #3face4;
}
.recent-completed-project .filters {
    text-align: center;
    margin-bottom: 30px;
}
.projects_item:before {
    content: "";
    background: rgba(63,172,228,.68);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 300ms ease;
    cursor: pointer;
}
.section-gap {
    padding: 120px 0;
}
.projects_item {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
.projects_text h4 {
    font-size: 21px;
    font-weight: 100;
    margin-bottom: 5px;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    text-transform: capitalize;
    cursor: pointer;
}
.projects_text {
    text-align: center;
    margin-top: 15px;
}
.projects_item:hover .icon img {
    opacity: 1;
}
.projects_item .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    cursor: pointer;
}
.projects_text h4 a:hover {
    color: #3face4;
}
.projects_text h4 a {
    color: #222;
    text-decoration: none;
}
.projects_item:hover:before {
    opacity: 1;
}
.projects_item .icon img {
    opacity: 0;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}