body {
	margin: 0;
}
.bar {
	background-color: #000;
	display: flex;
	align-items: center;
	color: inherit;
}
.bar-item {
	display: none;
}
.bar a {
	color: #fff;
	text-decoration: none;
	padding: 12px 13px;
}
.bar a:hover {
	background-color: #ccc;
	color: #000;
	padding: 12px 13px;
}
.bar a i {
	color: #fff;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-menu {
	position: absolute;
	background-color: #b4aaaa0a;
    display: flex;
    top: 39px;
    width: 150px;
    display: none;
    flex-direction: column;
}
.dropdown-menu a {
	color: #000;
}
.dropdown-menu li {
	list-style: none;
	padding: 12px;
}
.droppdown-menu a:hover {
	width: 100px;
}
.dropdown:hover>.dropdown-menu {
	display: block;
}
.button {
    padding: 8px 16px;
    vertical-align: middle;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    border: none;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
}
@media screen and (min-width: 596px){
	.bar-item i {
		display: inline-block;
		color: #fff;
		
	}
}